/* ---------------------------------------------------- */
/*
    [css-file]: marg-padd-sizes.css
    
    [info]: defines all default padding margin sizes
    which will be often used

    [ Remember ] - padding: top right bottom left 


/* ---------------------------------------------------- */




/* -------------------------------------------------------- */
/* Margin Sizes 
/* -------------------------------------------------------- */







/* -------------------------------------------------------- */
/* Padding Sizes 
/* -------------------------------------------------------- */



/* -------------------------------------- */
/* Left & Right - Same Sizes 
/* -------------------------------------- */

.padd-lr-1em {  padding: 0em 1em; }
.padd-lr-0-5em {  padding: 0em .5em; }


/* -------------------------------------- */
/* Left & Right - different Sizes 
/* -------------------------------------- */

.padd-l-1em-r-0-5em {  padding: 0em .5em 0em 1em; }
.padd-l-0-5em-r-1em {  padding: 0em 1em 0em .5em; }


